<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.hspedu.furns.filter.AuthServlet</filter-class>
        <init-param>
            <param-name>IgnoreUrl</param-name>
            <param-value>/views/manage/manage_login.jsp, /views/member/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <!--这里只是配置文件, 配置之后不会起作用, 需要在filter读取-->
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/views/cart/*</url-pattern>
        <url-pattern>/views/customer/*</url-pattern>
        <url-pattern>/views/order/*</url-pattern>
        <url-pattern>/CartServlet</url-pattern>
        <url-pattern>/orderServlet</url-pattern>
    </filter-mapping>
    <!--    验证码相关配置-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptchaServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.hspedu.furns.filter.AdminFilter</filter-class>
        <init-param>
            <!--这里只是配置文件, 配置之后不会起作用, 需要在filter读取-->
            <param-name>excludeUrls</param-name>
            <param-value>/views/member/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/manage/*</url-pattern>
        <url-pattern>/FurnServlet</url-pattern>
    </filter-mapping>

    <!--    处理订单相关的异常信息的过滤器-->
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>com.hspedu.furns.filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/orderServlet</url-pattern>
        <url-pattern>/FurnServlet</url-pattern>
    </filter-mapping>
    <!--错误页面一般在后面-->
<!--    <error-page>-->
<!--        <error-code>404</error-code>-->
<!--        <location>/views/error/404.jsp</location>-->
<!--    </error-page>-->
<!--    <error-page>-->
<!--        <error-code>500</error-code>-->
<!--        <location>/views/error/500.jsp</location>-->
<!--    </error-page>-->
</web-app>