<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.hspedu.SpringMVC"/>

    <!--    视图解析器 返回的是view对象 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="9"/>
    </bean>

    <!--    自定义视图-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <!--        默认最大, 越大优先级越低-->
        <property name="order" value="12"/>
    </bean>

    <!-- 加入两个常规配置-->
    <!-- 能支持 SpringMVC 高级功能，比如 JSR303 校验，映射动态请求-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 将 SpringMVC 不能处理的请求交给 Tomcat, 比如请求 css,js 等-->
    <mvc:default-servlet-handler/>

    <!--    需要配置环境-->
    <!-- 配置国际化错误信息的资源处理 bean -->
    <bean id="messageSource" class=
            "org.springframework.context.support.ResourceBundleMessageSource">
        <!-- 配置国际化文件名字
        如果你这样配的话，表示 messageSource 回到 src/i18nXXX.properties 去读取错误信息
        -->
        <property name="basename" value="i18n"></property>
    </bean>

    <!-- 配置文件上传需要的 bean--><!-- 需要开启，否则不支持文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <mvc:interceptors>
        <!--        这种配置，会拦截所有的请求-->
        <!--        <ref bean="myInterceptor01"/>-->

        <!--        这样的配置只会对 /hi 进行拦截-->
        <mvc:interceptor>
            <mvc:mapping path="/h*"/>
            <mvc:exclude-mapping path="/hello"/>
            <ref bean="myInterceptor01"/>
        </mvc:interceptor>
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/*"/>-->
<!--            <ref bean="myInterceptor02"/>-->
<!--        </mvc:interceptor>-->
    </mvc:interceptors>

<!--    配置处理统一异常处理-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">allEx</prop>
            </props>
        </property>
    </bean>
</beans>