<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--    配置扫描的包-->
    <context:component-scan base-package="com.hspedu.web"/>

    <!--    这个是默认视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--  这个目录第一个/表示的是 web 目录-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
        <!--        默认优先级-->
        <property name="order" value="10"/>
    </bean>

    <!--    自定义视图解析器
            1. 配置自定义的视图解析器 BeanNameViewResolver
            2. BeanNameViewResolver 可以去解析我们自定义的视图
            3. order 属性表示视图解析器执行的顺序, 值越小优先级越高
            4. 属性 order 默认优先级是 Integer.MAX_VALUE
    -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="99"/>
    </bean>


    <!-- 加入两个常规配置-->
    <!-- 能支持 SpringMVC 高级功能，比如 JSR303 校验，映射动态请求-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 将 SpringMVC 不能处理的请求交给 Tomcat, 比如请求 css,js 等-->
    <mvc:default-servlet-handler/>

    <!-- 配置国际化错误信息的资源处理 bean -->
    <bean id="messageSource" class=
            "org.springframework.context.support.ResourceBundleMessageSource">
        <!-- 配置国际化文件名字
            如果你这样配的话，表示 messageSource 回到 src/i18nXXX.properties 去读取错误信息
        -->
        <property name="basename" value="i18n"></property>
    </bean>
    <!--    配置文件上传需要的 bean-->
    <!--    需要开启，否则不支持文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <!--    配置拦截器-->
    <mvc:interceptors>
        <!--
            1. 配置自定义拦截器
            2. 使用 ref 引用 myInterceptor01
            3. 使用这种方式，会拦截所有的目标方法
        -->
        <!--         <ref bean="myInterceptor01" />-->
        <mvc:interceptor>
            <mvc:mapping path="/hi"/>
            <ref bean="myInterceptor01"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/h*"/>
            <ref bean="myInterceptor02"/>
        </mvc:interceptor>
        <!--         <mvc:interceptor>-->
        <!--             <mvc:mapping path="/h*"/>-->
        <!--             <mvc:exclude-mapping path="/hi"/>-->
        <!--             <ref bean="myInterceptor01"/>-->
        <!--         </mvc:interceptor>-->
    </mvc:interceptors>

<!--    配置统一异常处理-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">allEx</prop>
                <prop key="java.lang.ArrayIndexOutOfBoundsException">arrEx</prop>
            </props>
        </property>
    </bean>
</beans>